DBEmpresas.dataBaseName=DBEmpresas
DBEmpresas.dataSourceName=Desenv
DBEmpresas.dataBaseSysName=MySQL
DBEmpresas.driverName=com.mysql.jdbc.Driver
DBEmpresas.urlSource=jdbc:mysql://localhost/db_uc_desenv?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true
DBEmpresas.userName=desenv
DBEmpresas.password=vnesed6
