DBCep.dataBaseName=DBCep
DBCep.dataSourceName=Cep
DBCep.driverName=com.mysql.jdbc.Driver
DBCep.urlSource=jdbc:mysql://localhost/db_cep?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true
DBCep.userName=cep
DBCep.password=cep
DBCep.dataBaseSysName=MySQL
