DBNfe.dataBaseName=DBNfe
DBNfe.dataSourceName=Nfe
DBNfe.dataBaseSysName=MySQL
DBNfe.driverName=com.mysql.jdbc.Driver
DBNfe.urlSource=jdbc:mysql://localhost/{{  'db_uc_' + app_name|lower + '_nfe' }}?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true
DBNfe.userName=gsnfe
DBNfe.password=#gsnfe!
